h1{
    font-weight: bold;
    text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
h2{
    font-weight: bold;
    text-align:center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
button {
    background-color: #CCD67F;
    border: none;
    color: #000000;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

p{
    font-size: 18px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #eedbf6;
}

.layout {
    display: flex;        
    height: 100vh;        
}

.sidebar {
    width: 250px;
    background-color: #A77F60;
    color: white;
    padding: 1rem;
}

.sidebar ul {
    list-style: none;
    margin-top: 1rem;
}

.sidebar li {
    margin: 0.5rem 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.right-section {
    display: flex;
    flex-direction: column;  
    flex: 1;              
}

.header {
    background-color: #8A5F41;
    color: white;
    text-align: left;
    padding: 1rem;
}

.content {
    flex: 1;                 
    padding: 2rem;
    background-color: #F3E4C9;
}

.content ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    list-style: none;
}

.content li {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hover-img {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 250px;
  min-width: 240px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px solid rgba(0, 0, 0, 0.5);
  border-bottom: 32px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}
