<!DOCTYPE html>
<html>
<head>
    <title>{{ technology.name }}</title>
    <link rel="stylesheet" href="/static/shopCSS.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>{{ technology.name }}</h1>
    <p>Price: {{ technology.price }}</p>
    <p>{{ technology.description }}</p>
    <img src="/static/{{ {'Headphones': 'headphones.jpg', 'Speakers': 'speaker.jpg', 'Earphones': 'earphones.jpg'}[technology.name] }}" alt="{{ technology.name }}" width="200">
    <br>
    <div class="col-md-3">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.opinion.label }}<br>
            {{ form.opinion(size=100) }}<br>
            {% if form.opinion.errors %}
                <ul class="errors">
                    {% for error in form.opinion.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <br>
            {{ form.submit() }}
        </form>
    </div>
    <button onclick="window.location.href='/'">Back to Gallery</button>
</body>
</html>
